:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
}
a:hover {
  color: #4a4a4a;
}

.dashmenu {
  background-color: #f4f4f5;
  padding: 6px 20px;
  border-radius: 10px;
  width: max-content;
}
.activemenu {
  background-color: #fff !important;
  color: #000 !important;
}
.DashCard {
  width: 100%;
}
.userlink {
  cursor: pointer;
}
.submenu {
  cursor: pointer;
  border: solid 1px #e4e4e4;
  border-radius: 10px;
  padding: 5px 10px;
}

.rt-TabsList {
  /* box-shadow: inset 0 -1px 0 0 var(--gray-a5); */
  box-shadow: none !important;
}

.rt-TabsTrigger:where([data-state="active"])::before {
  background-color: var(--gray-12) !important;
}

.button {
  background-color: var(--blue-4);
  color: var(--blue-11);
  border-color: var(--blue-7);
}
span.notbadge {
  padding: 1px 5px;
  font-size: 10px !important;
  margin-left: 3px;
  margin-top: -7px;
}
button.download {
  background-color: #000;
  cursor: pointer;
  color: #fff;
}
form.ma2 input {
  border: none;
  background-color: transparent;
  color: #000;
  cursor: pointer;
  width: 77px;
  text-align: center;
}
form.ma2 input::placeholder {
  color: #000;
}
button.multidatebut {
  background-color: transparent;
  border: solid 1px #e4e4e7;
  color: #000;
  cursor: pointer;
}
button.multidatebut:hover {
  background-color: #f4f4f5;
}
